<div class="containar">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h2 class="text-dark bg-light p-4 mb-0">送信が完了しました！</h2>
    <p>ご意見、誠にありがとうございました！今回のご意見を元に、</br>
      私たちはより良いサイト作りを心掛けていきます！！</br>
      今後ともThe/LufeHackersをよろしくお願いいたします！
    </p>
    </div>
  </div>
</div>