<h1 class>ライフハックの投稿</h1>
<%= form_with model: post, local:true do |f| %>
  <div class="form-group">
    <p>Title</p>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <p>Opinion</p>
    <%= f.text_area :post_detail, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit '投稿', class:"btn btn-success form-control" %>
  </div>
  <% end %>