<div class="containar">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
    <h1 class="text-dark p-4 mb-0">The LifeHackers</h1>

    The LifeHackersを見ていただき、ありがとうございます！<br />
    このサイトでは、皆様の生活を豊かにする様々なライフハックをご提供するため、<br />
    皆様からのライフハック、発見を募集しております！<br />
    皆様が気づいたちょっとしたライフハックの発見、<br />
    小さな事だけども、誰かに言ってみたい！そんなライフハックを皆様から募集し、<br />
    皆様の生活を少しでもより良いものにしていく、という助け合いの為、皆様にもご協力いただけると幸いです！
    </div>
  </div>
  <div class="icon"><%= image_tag asset_path("nandemo.png"), size: "200x200" %></div>
</div>
