<div class="containar">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
    <h1 class="text-dark p-4 mb-0">The LifeHackers</h1>

    The LifeHackersへようこそ！<br />
    このサイトでは、皆様の生活を豊かにする様々なライフハックをご提供いたします！<br />
    皆様の生活を豊かにしていくため、管理者としてこちらも頑張りましょう！

    </div>
  </div>
</div>
