        <% if post.favorited_by?(current_post_user) %>
            <a><%= link_to post_favorites_path(post), method: :delete, remote: true do %>
                ♥<%= post.favorites.count %>
               <% end %>
            </a>
        <% else %>
            <a><%= link_to post_favorites_path(post), method: :post, remote: true do %>
              ♡<%= post.favorites.count %>
                <% end %>
            </a>
        <% end %>