
<footer id = footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p class="footer-text">CopyRight The/LifeHacker</p>
        <% if post_user_signed_in? %>
          <div class="footer-link"><%= link_to "お問い合わせはこちらまで", new_contact_path, class: 'text-dark' %></div>
          <!--何かしらフッターに情報を追加してレイアウトを修正する-->
        <% end %>
      </div>
    </div>
  </div>
</footer>


